<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
    </script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">
                {{ app_name }}
            </a>

            <div class="navbar-nav ms-auto">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link active" href="/">Home</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Authors
                        </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/add_author">Search & add</a></li>
                            <li><a class="dropdown-item" href="/manually_add_author">Manually add</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/list_authors">List all</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#nameModalAuthor">Edit author</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#nameModalDelAuthor">Delete author</a></li>

                        </ul>
                    </li>
                   <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Books
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/add_book">Search & add</a></li>
                            <li><a class="dropdown-item" href="/manually_add_book">Manually add</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('home') }}">List all</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#nameModalBook">Edit book</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#nameModalDelBook">Delete book</a></li>
                        </ul>
                   </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories (WIP)
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New Category</a></li>
                            <li><a class="dropdown-item" href="#">Connect with book</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">List all</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <!-- Modal -->
<div class="modal fade" id="nameModalAuthor" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter the ID of the author to be edited</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="number" id="authorId" class="form-control" placeholder="Author ID">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitAuthor()">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="nameModalBook" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter the ID of the book to be edited</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
                <div class="modal-body">
                    <input type="number" id="bookId" class="form-control" placeholder="Book ID">
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitBook()">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="nameModalDelAuthor" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter the ID of the author to be deleted</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="number" id="authorIdDel" class="form-control" placeholder="Author ID">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitAuthorDel()">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="nameModalDelBook" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter the ID of the book to be deleted</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="number" id="bookIdDel" class="form-control" placeholder="Book ID">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitBookDel()">OK</button>
            </div>
        </div>
    </div>
</div>

    <section class="hero text-center">
        <div class="container">
            <h1 class="display-3 fw-bold">
                {% block current_function %}
                {% endblock %}

            </h1>
            <p class="lead mt-3"></p>
            {% block all_books %}
            {% endblock%}
            {% block all_authors %}
            {% endblock%}
            {% block add_book %}
            {% endblock%}
            {% block add_author %}
            {% endblock%}
            {% block function_result %}
            {% endblock %}
        </div>
    </section>
<script>

    function submitAuthor() {
        const authorId = document.getElementById("authorId").value.trim();
        console.log("Hello submitAuthor is triggered with authorId", authorId);

        if (!authorId) {
            return;
    }

        window.location.href =
            `/update_author?author_id=${encodeURIComponent(authorId)}`;
}

    function submitBook() {
        const bookId = document.getElementById("bookId").value.trim();
        console.log("Hello submitBook is triggered with book ID:", bookId);

        if (!bookId) {
            console.log("No bookId found!")
            return;
    }

        window.location.href =
            `/update_book?book_id=${encodeURIComponent(bookId)}`;
}

    function submitAuthorDel() {
        const authorId = document.getElementById("authorIdDel").value.trim();
        console.log("Hello submitAuthorDel is triggered with book ID:", authorId);

        if (!authorId) {
            console.log("No authorId found!")
            return;
    }

        window.location.href =
            `/delete_author?author_id=${encodeURIComponent(authorId)}`;
}

    function submitBookDel() {
        const bookId = document.getElementById("bookIdDel").value.trim();
        console.log("Hello submitBook is triggered with book ID:", bookId);

        if (!bookId) {
            console.log("No bookId found!")
            return;
    }

        window.location.href =
            `/delete_book?book_id=${encodeURIComponent(bookId)}`;
}

</script>
</body>

</html>